bresenham==0.2.1
click==8.1.7
dataclasses-json==0.6.1
gymnasium==0.29.1
stable-baselines3==2.1.0
matplotlib==3.8.0
networkx==3.2.1
numpy==1.26.0
pathfinding==1.0.4
perlin-noise==1.12
pygame==2.5.2
python-statemachine==2.1.1
questionary==2.0.1
scikit-guess==0.0.1a0
scikit-image~=0.25.2
scikit-learn==1.5.0
scipy==1.11.4
sortedcontainers==2.4.0
tqdm==4.66.3
torch~=2.6.0
